<div>
  <button class="btn btn-primary" (click)="capture()">Snap Photo</button>
</div>

<div>
  <input id="preview" type="file" (change)="previewImage($event)" />
  Upload Photo From Disk
</div>

<div class="video-container">
  <video
    [class.show]="!isCaptured"
    [class.hide]="isCaptured"
    #video
    id="video"
    [width]="width"
    [height]="height"
    autoplay
  ></video>
  <canvas
    [class.show]="isCaptured"
    [class.hide]="!isCaptured"
    #canvas
    id="canvas"
    [width]="width"
    [height]="height"
  ></canvas>
</div>
